<!-- footer Area -->

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-11 col-lg-10 col-md-9 ml-auto">
                <hr>
                <div class="col-lg-12 text-center text-white">
                    <p> Made <span><i class="text-danger fa fa-heart"></i></span> by <span
                            class="text-success font-weight-bold">
                            Priyang Patel</span></p>
                </div>
            </div>
        </div>
    </div>
   =
</footer>
<!-- footer Area Over -->