 <!-- About me section -->
 <section id="2" class="page-section my-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 ml-auto text-center">
                <!-- title -->
                <div class="heading">
                    <h2 class=" text-white text-left">About Me</h2>
                </div>
                <!-- title over -->
                <!-- content part -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 text-center">

                            <div class="p-2 m-4 text-center" data-aos="flip-left" data-aos-duration="2000">
                                <div class="img-conatiner rounded-image border ">
                                    <img class="img-fluid p-4 about-image" src="../assets/Images/Priyang@4x.png"
                                        style="width: 100%;" alt="">
                                </div>
                            </div>



                        </div>
                        <div class="col-lg-9 col-md-6 col-sm-12 text-center">
                            <div class="card text-white mb-3 " data-aos="flip-right" data-aos-duration="2000">
                                <div class="card-header">
                                    <div class="tab-icon bg-cancle rounded-circle text-center">&nbsp;</div>
                                    <div class="tab-icon bg-resize rounded-circle text-center ">&nbsp;</div>
                                    <div class="tab-icon bg-min rounded-circle text-center ">&nbsp;</div>
                                </div>
                                <div class="card-body me ">
                                    <p class="text-justify font-weight-bold ">
                                        Hii, I am Priyang Patel, Angular developer from Gujarat, India. I am a
                                        young,
                                        hardworking person with a diverse set of experience in Web Development. In
                                        addition, I am capable of managing several tasks on a regular basis and
                                        performing well
                                        under pressure. Communication
                                        is a vital strength, as is establishing strong relationships with others in
                                        order to get the best results.
                                        <br><br>
                                        <span class="text-center">

                                            Since I was a kid, I've enjoyed drawing, and this passion has led me to
                                            the field of design and development. Interest in technological
                                            innovation led me to the field of computer science; it was challenging
                                            at first, but I prepared myself to expect the challenges of this
                                            ever-changing world, and I would give it my best to become the finest in
                                            my field.
                                        </span>

                                    </p>

                                    <div class="download-resume text-center">
                                        <a href="https://drive.google.com/u/2/uc?id=1wIFhqzMbBUTLz4qwSOnqNeUR-wefEAJw&export=download"
                                            target="_blank"
                                            class=" drb btn btn-danger border border-danger">Download My
                                            Resume</a>
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 text-center mt-1 pt-5 text-white">
                            <p><i>"Limitations live only in our minds. But if we use our imaginations, our
                                    possibilities become limitless."


                                </i></p>
                            <span class="text-center"><i>~ Jamie Paolinetti</i></span>
                        </div>
                    </div>

                </div>
                <!-- content part over -->
            </div>
        </div>
    </div>
</section>
<!-- end of about me section -->

