 <!-- Experience section -->
 <section id="4" class="page-section my-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
                <!-- title -->
                <div class="heading">
                    <h2 class="text-left text-white">Experience</h2>
                </div>
                <!-- title over -->
                <!-- content part -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-5 light-shadow">
                            <div class="py-2">
                                <h5 class="font-weight-bold main-head-ex ">Education</h5>
                            </div>
                            <div class="timeline "  data-aos="fade-zoom-in"
                            data-aos-easing="ease-in-back"
                            data-aos-duration="1000"
                            data-aos-offset="0">
                                <div class="timeline-box">
                                    <div class="timeline-icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-content text-white">
                                        <h4 class="font-weight-bold">High School</h4>
                                        <hr class="bg-danger">
                                        <p class="font-weight-bold">
                                            R.M.&.V.M Desai Vidyadham, Valsad
                                        </p>
                                        <p>2017-2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline " data-aos="fade-zoom-in"
                            data-aos-easing="ease-in-back"
                            data-aos-duration="2000"
                            data-aos-offset="0" 
                              >
                                <div class="timeline-box">
                                    <div class="timeline-icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="timeline-content text-white">
                                        <h4 class="font-weight-bold">Bachelor Degree</h4>
                                        <hr class="bg-danger">
                                        <p class="font-weight-bold">
                                            B. Tech. (Computer Science and Engineering)
                                            Charotar University of Science and Technology
                                            - [CHARUSAT] , ANAND
                                        </p>

                                        <p>2018-Present</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 light-shadow">
                            <div class="py-2">
                                <h5 class="font-weight-bold main-head-ex ">Experience</h5>
                            </div>
                            <div class="timeline" data-aos="fade-zoom-in"
                            data-aos-easing="ease-in-back"
                            data-aos-duration="2500"
                            data-aos-offset="0" >
                                <div class="timeline-box">
                                    <div class="timeline-icon">
                                        <i class="fa fa-briefcase"></i>
                                    </div>
                                    <div class="timeline-content text-white">
                                        <h4 class="font-weight-bold">Intern as Angular developer</h4>
                                        <hr class="bg-danger">
                                        <div class="font-weight-bold">
                                            WebEarl Technologies - Ahmedabad
                                            <br>
                                        <h5>Achievements/Task</h5>
                                        <ul>
                                            <li>An Project on online marketplace that connects a traveler to
                                                multiple
                                                local travel agents. </li>
                                            <li>Daily Tasks in Angular 2+. </li>
                                            <li>Made Frontend and connect it with backend API.</li>
                                        </ul>

                                    </div>
                                        <p>04/2020-05/2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- content part over -->

            </div>
        </div>
    </div>
</section>
<!-- end of Experience section -->