 <!-- Recent Works section -->




 <section id="5" class="page-section py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
                <!-- title -->
                <div class="heading">
                    <h2 class="text-left text-white ">My Work</h2>
                </div>
                <!-- title Over -->

                <ul class="list-inline text-left text-white text-uppercase font-weight-bold my-4">
                    <li class="list-inline-item gallery-list-item active-item" data-filter="all">ALL<span
                            class="mx-md-2  mx-1 "></span></li>
                    <li class="list-inline-item gallery-list-item" data-filter="web">Web<span
                            class="mx-md-2  mx-1"></span></li>
                    <li class="list-inline-item gallery-list-item" data-filter="art">ART<span
                            class="mx-md-2  mx-1"></span></li>
                    <li class="list-inline-item gallery-list-item" data-filter="Projects">Other Projects</li>
                </ul>

                <div class="container-fluid">
                    <div class="d-flex flex-wrap justify-content-center" data-aos="flip-right"  data-aos-duration="2500">
                        <div class="filter web m-2 ">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Js + ML</div>
                                </div>
                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/gesture.PNG" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://your-gesture.web.app/" target="_blank"> <i
                                            class="ci fa fa-globe"></i>
                                    </a>
                                </div>


                            </div>
                        </div>

                        <div class="filter m-2 web">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Bootstrap</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/dashboard.PNG" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/Dashboard_Bootstrap" target="_blank"> <i
                                            class="ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 web">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Angular</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/client.PNG" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://angular-crud-test-app.web.app/" target="_blank"> <i
                                            class="ci fa fa-globe"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 web">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Angular + ML5.js</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/ml5.png" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/A_CENTRAL_HUB" target="_blank"> <i
                                            class="ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="filter m-2 web">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Bootstrap</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/free-templet1.PNG" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/Bootstrap_Template_Simple_Animations"
                                        target="_blank"> <i class="ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 web">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Web-Bootstrap</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/free-templet2.PNG" alt="" width="200" height="245">
                                </div>

                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/ADVANCE_ANIMATION_BOOTSTRAP"
                                        target="_blank"> <i class="ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>



                        <div class="filter m-2 art">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Art</div>
                                </div>
                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/ART1.jpeg" alt="" width="200" height="245">
                                </div>
                                <div class="info">
                                    <a href="https://in.pinterest.com/pin/681662093604522304" target="_blank"> <i
                                            class="ci fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 art">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Art</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/ART2.jpeg" alt="" width="200" height="245">
                                </div>


                                <div class="info">
                                    <a href="https://in.pinterest.com/pin/681662093604522318" target="_blank"> <i
                                            class="ci fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 art">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Art</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/ART3.jpeg" alt="" width="200" height="245">
                                </div>


                                <div class="info">
                                    <a href="https://in.pinterest.com/pin/681662093604535457/" target="_blank"> <i
                                            class="ci fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter m-2 art">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Art</div>
                                </div>

                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/ART4.jpeg" alt="" width="200" height="245">
                                </div>


                                <div class="info">
                                    <a href="https://in.pinterest.com/pin/681662093604535478/" target="_blank"> <i
                                            class="ci fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="filter m-2 Projects">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">API- Plant Disease</div>
                                </div>
                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/API.png" alt="" width="200" height="245">
                                </div>
                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/Plant_Disease_API"> <i
                                            class="ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="filter m-2 Projects">
                            <div class="card">
                                <div class="title-info">
                                    <div class="circle">Stemming Algorithm</div>
                                </div>
                                <div class="card-img-wrapper">
                                    <img src="../assets/Images/stemming.jpg" alt="" width="200" height="245">
                                </div>
                                <div class="info">
                                    <a href="https://github.com/PRIYANG012/CPP-STEMMING"> <i
                                            class=" ci fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br>

        <br>
        <br>
        <br>
        <br>
    </div>
</section>

<!-- end of Recent Works section -->