
    <!--Get In Touch section -->
    <section id="6" class="page-section py-5 my-5">
        <div  class="container ">
            <div class="row mb-5 pb-5">
                <div data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"  data-aos-duration="1000" class="col-xl-11 col-lg-11 col-md-11 ml-auto">
                    <!-- title -->
                    <div class="heading">
                        <h2 class="text-left text-white">Get In Touch</h2>
                    </div>
                    <!-- title Over -->

                    <!-- main content -->
                    <div class="" >
                        <div class="text-white">
                            <p>Don&#8217;t like form? Send me an <a href="mailto:priyangpatel012@gmail.com">email</a>.
                                👋</p>
                        </div>
                    </div>
                    <form  action="#" method="post" novalidate="novalidate"
                        data-status="init">

                        <div class="row">
                            <div class="column col-md-6">
                                <!-- Name input -->

                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name"
                                            value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                            aria-required="true" aria-invalid="false" placeholder="Your name" /></span>
                                </div>

                            </div>
                            <div class="column col-md-6">
                                <!-- Email input -->

                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email"
                                            name="your-email" value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                            aria-required="true" aria-invalid="false"
                                            placeholder="Email address" /></span>
                                </div>

                            </div>
                            <div class="column col-md-12">
                                <!-- Email input -->

                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap subject"><input type="text" name="subject"
                                            value="" size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                            aria-required="true" aria-invalid="false" placeholder="Subject" /></span>
                                </div>

                            </div>
                            <div class="column col-md-12">
                                <!-- Message textarea -->

                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                            cols="40" rows="5"
                                            class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control"
                                            aria-required="true" aria-invalid="false"
                                            placeholder="Message"></textarea></span>
                                </div>

                            </div>

                        </div>
                        <p><button type="submit" name="submit" id="submit" value="Submit" class="btn btn-success">Send
                                Message</button></p>

                    </form>
                    <!-- main content over -->

                    <br>
                    <br>

                </div>
            </div>
        </div>
    </section>
    <!-- end of Get In Touch section -->
