body {
  font-family: "Montserrat", "sans-serif";
  background-color: #353353;
}
.navbar-toggler {
  background-color: #353353;
}

.ityped-cursor {
  font-size: 2.2rem;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}

.social-icons .list-inline-item:hover {
  transform: scale(2);
  transition: 1s all;
}
#particles-js {
  background-color: #353353;
  width: 100%;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.hero .card {
  border: 0px solid #353353;
}
.title-name h2 {
  font-weight: 300;
  letter-spacing: 2px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.hero-card {
  padding: 2%;
  background-color: #35335300;
}
/* card  */

.card {
  border: 1px solid gray;
}
.card-header {
  background: #323046;
  border: 0px;
}

.card-body {
  background: #36344e;
  border: 0px;
}

.rounded-image {
  margin: auto;
  width: 50%;
}

/* card over */
/* navbar */
.navbar {
  background: #353353;
}
.sidebar {
  height: 100vh;
  background: #353353;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bottom-border {
  border-bottom: 1px groove #eee;
}

.sidebar-link {
  color: white;
  transition: all 0.4s;
}

.sidebar-title span b {
  color: white;
}

.sidebar-title span {
  font-weight: 600;
}
.sidebar-title {
  background: rgba(255, 255, 255, 0.212);
  color: white;
  font-size: 140%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-link i {
  color: white;
}

.sidebar-link:hover {
  transform: scale(1.5);
  border-bottom: 0;
}

.sidebar-link:hover i {
  cursor: pointer;
  color: lightgreen;
}

.active {
  color: white;
  border-bottom: 1px solid lightgreen;
  transition: all 0.3s;
}

.active:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#particles-js {
  height: 100vh;
}

@media (max-width: 460px) {
  .rounded-image {
    margin: auto;
    width: 50%;
  }

  #particles-js {
    height: 110vh;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: relative;
    height: auto;
  }

  .top-navbar {
    position: static;
  }

  .nav-item div {
    writing-mode: horizontal-tb;
  }

  .nav-item div p {
    writing-mode: horizontal-tb;
    transform: rotate(+180deg);
  }
}
/* navbar over */

.side-note {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-orientation: use-glyph-orientation;
  font-weight: bold;
}

/* scrollbar start  */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

/* scrollbar over */

/* hero section */

#hero {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: #353353, no-repeat center center / cover;
}

.about-image {
  border-radius: 30%;
}
.rounded-image {
  align-self: center;
  align-items: center;
  background: rgba(247, 247, 247, 0.548);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/* hero section over */

/* experience section*/

#experience {
  width: 100%;
  height: 100%;
  min-height: 800px;
}

.light-shadow {
  background-color: #302f4e;
  border-radius: 10px;
  padding: 2%;
  border: 1px solid #302f4e5b;
  margin: 2%;
}

.timeline {
  border-left: 1px solid #ff3b52;
  margin-left: 20px;
  margin-bottom: 30px;
}

.timeline .timeline-box {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}

.timeline-icon {
  left: -18px;
  top: 0px;
  background-color: #302f4e;
  border: 1px solid #ff3b52;
  border-radius: 50%;
  position: absolute;
  width: 35px;
  height: 35px;

  z-index: 1;
  text-align: center;
  line-height: 35px;
}

.timeline-icon i {
  color: #ff3b52;
}

.main-head-ex {
  border-radius: 10px;
  font-weight: bold;
  width: fit-content;
  padding: 6px;
  color: #ffffff;
}
/* experience over */

/* about me section */

.iab {
  padding: 2px;
}

#aboutme {
  width: 100%;
  height: 100%;
  min-height: 800px;
}

.download-resume button {
  border-radius: 50px;
}

.drb {
  transition: 0.3s all;
}

.drb:hover {
  color: tomato;
  background-color: white;
  transform: scale(1.05);
}
/* about me over */

/* headings */

.heading h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
  border-left: 2px solid springgreen;
  padding: 2%;
}
/* headings over */

/* cards */
.tab-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  align-items: center;
  font-size: 12px;
  color: rgb(119, 117, 117);
  margin: 3px;
}

.tab-icon i {
  margin-top: 4px;
  font-size: 12px;
}

.bg-cancle {
  background-color: tomato;
}

.bg-resize {
  background-color: yellow;
}

.bg-min {
  background-color: lightgreen;
}

/* cards over */

/* gallery */

.underline-dark {
  width: 150px;
  border-bottom: 2px solid #888;
  margin: auto;
}

.gallery-list-item {
  color: #fff;
  transition: 3s all;
  cursor: pointer;
  user-select: none;
}

.active-item {
  color: tomato;
}

.card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}

.card-img-wrapper img {
  transition: 1.5s ease;
  overflow: hidden;
}
.card:hover .card-img-wrapper img {
  transform: scale(1.15);
  opacity: 0.3;
}

.title-info {
  margin-left: 10px;
  padding: 3px;
  visibility: hidden;
  transform: translateY(-2px);
  position: absolute;
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
  background-color: #5608a8;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
}

.info {
  width: 100%;
  visibility: hidden;
  z-index: 100;
  padding: 3px;
  text-align: center;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

  transform: translateY(200px);
  position: absolute;
  transition: transform 1s cubic-bezier(0.31, 1.21, 0.64, 1.02);
}

.info a i {
  color: black;
  font-size: 40px;
  box-shadow: 1px 2px 3px gray;
}

.sq {
  font-size: 100%;
  border-radius: 2px;

  box-shadow: 1px 2px 3px gray;
}
.ci {
  border-radius: 50%;
}
.card:hover .info {
  visibility: visible;
  transform: translateY(180px);
}

.card:hover .title-info {
  visibility: visible;
  transform: translateY(0px);
}
/* gallery over */
