
    <!-- skills section -->
    <section id="3" class="page-section my-5 py-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 ml-auto text-center">
                    <!-- title -->
                    <div class="heading">
                        <h2 class=" text-white text-left">Skills</h2>
                    </div>
                    <!-- title over -->
                    <!-- content part -->
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 colsm-12 mt-5 text-left text-white">



                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
                                        <label>HTML</label>
                                        <div class="progress">

                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="700" >
                                        <label>Angular 2+</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="800">
                                        <label>Css</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="900">
                                        <label>Bootstrap</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
                                        <label>JavaScript</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="700" >
                                        <label>Adobe Illustrator</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="800" >
                                        <label>Flask REST-API</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 70%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12  p-3" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="900">
                                        <label>Machine Learning</label>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 45%;"
                                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">45%</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 colsm-12 mt-5 text-left text-white container">

                                <h2 class="text-white font-weight-bold">Tools</h2>
                                <br>
                                <!-- clients wrapper -->
                                <div class="row">
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="700">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/icons8-postman-api-64.png" alt="" width="50"
                                                    height="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="700">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/vscode.png" alt="" width="50" height="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="800">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/icons8-github-96.png" alt="" width="50" height="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="800">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/imgbin_mysql-logo-database-server-png.png" alt=""
                                                    height="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="900">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/nosql.png" alt="" height="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-6 text-center my-2" data-aos="flip-left"
     data-aos-easing="ease-out-cubic" data-aos-duration="900">
                                        <div class="client-item">
                                            <div class="inner">
                                                <img src="../assets/Images/icons8-adobe-xd-100.png" alt="" height="50">
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- content part over -->
                </div>
            </div>
        </div>
    </section>
    <!-- end of skills section -->