  <!-- hero page section -->
  <section id="1" class="page-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-11 col-lg-11 col-md-11 col-sm-12 ml-auto">
                <div class="container-fluide" style="position: relative;">

                    <!-- <div id="particles-js" style="position: absolute;"></div> -->
                    <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
                    <div class="conatiner">
                        <div class="row ">
                            <div class="col-lg-4 "></div>
                            <div class="col-lg-4 pt-5 hero" style="z-index: 2;">
                                <div class="card hero-card text-white mb-3 ">

                                    <div
                                        class=" me text-center animate__animated animate__slow animate__fadeInDownBig">
                                        <div class="img-conatiner rounded-image border ">
                                            <img class="img-fluid p-4 about-image" src="../assets/Images/Priyang@4x.png"
                                                style="width: 100%;" alt="">
                                        </div>
                                    </div>
                                    <div
                                        class="title-name m-2 text-center animate__animated animate__slow animate__fadeInLeftBig">
                                        <h2>Priyang Patel</h2>
                                        <span>I'm </span><span id="ityped"></span>
                                    </div>

                                    <div
                                        class="title-name m-2 text-center animate__animated animate__slow animate__fadeInLeftBig">

                                        <span> <i> " Design Code Repeat."</i></span>
                                    </div>

                                    <div class="connect-with-me text-center  ">
                                        <ul
                                            class="social-icons light list-inline my-3 text-center animate__animated animate__slow animate__fadeInRightBig text-white">
                                            
                                            <li class="list-inline-item mx-3">
                                                <a href="https://www.linkedin.com/in/priyang-patel-81658b199/"
                                                    target="_blank">
                                                    <i class="fab fa-linkedin-in fa-lg text-white"
                                                        aria-hidden="true"></i> </a>
                                            </li>


                                            <li class="list-inline-item mx-3">
                                                <a href="https://www.instagram.com/priyang_patel12/"
                                                    target="_blank">
                                                    <i class="fab fa-instagram fa-lg text-white"
                                                        aria-hidden="true"></i> </a>
                                            </li>

                                            <li class="list-inline-item mx-3">
                                                <a href="https://www.behance.net/priyangpatel1" target="_blank">
                                                    <i class="fab fa-behance fa-lg text-white"
                                                        aria-hidden="true"></i> </a>
                                            </li>
                                            <li class="list-inline-item mx-3">
                                                <a href="https://github.com/PRIYANG012" target="_blank">
                                                    <i class="fab fa-github fa-lg text-white"
                                                        aria-hidden="true"></i> </a>
                                            </li>
                                            <li class="list-inline-item mx-3">
                                                <a href="https://in.pinterest.com/priyangspatel12345/"
                                                    target="_blank">
                                                    <i class="fab fa-pinterest-p fa-lg text-white"
                                                        aria-hidden="true"></i> </a>
                                            </li>
                                        </ul>
                                        <div data-aos="fade-up" data-aos-duration="1000" class=" ">
                                            <a href="#contact"
                                                class="btn btn-danger text-white rounded border border-white">
                                                Contact me</a>
                                        </div>
                                        <div class="mt-5 pt-5 ">


                                            <span>Know more about me<br> </span><br>
                                            <a href="#aboutme" class="mouse-wrapper text-white">

                                                <span class="mouse">
                                                    <i class="icon-mouse fa-lg"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- end of hero page section -->